/* You can add global styles to this file, and also import other style files */
.padding-x{
    padding: 2rem 2rem  ;
}
.margin-x{
    margin: 0rem 0.4rem ;
}

.red{
    background-color: red  !important;
}